/* fonts */
@font-face {
  font-family: clearlight;
  src: url("../fonts/clearlight.ttf");
  font-weight: normal;
}
@font-face {
  font-family: arial-narrow;
  src: url("../fonts/arial-narrow.ttf");
  font-weight: normal;
}
/*root */
:root {
    --green: #5dd782
    --greenDark: #49b56a
    --greenLight: #67ee90
    --gray: #333333
    --grayLight: #eeeeee
    --white: #ffffff
}
body {
    min-height: 2000px;
    font-family: arial-narrow;
}
/* It'd be better to find something like parameter passing idk
/* font colors*/
.green {
    color: var(--green);
}
.greenDark {
    color: var(--greenDark);
}
.greenLight {
    color: var(--greenLight);
}
.gray {
    color: var(--gray);
}
.grayLight {
    color: var(--grayLight);
}
.white {
    color: var(--white);
}
/* bg colors */
.bg-green {
    background-color: var(--green);
}
.bg-greenDark {
    background-color: var(--greenDark);
}
.bg-greenLight {
    background-color: var(--greenLight);
}
.bg-gray {
    background-color: var(--gray);
}
.bg-grayLight {
    background-color: var(--grayLight);
}
.bg-white {
    background-color: var(--white);
}
/* header area */
.navbar-collapse.show {
    
}
/* banner area */
.banner {
    min-height: 100px;
    max-height: 600px;
    height: 30vw;
    min-width: 100%;
    /*background-size: cover;*/
    position: relative;
    top: 75px;
    border-bottom: 1px solid black;
}
.parallax {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/shanghai_park_main.png");
    background-attachment: fixed;
    background-position: 50% 75px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: -10;
}
.banner-text {
    display: inline-block;
    padding: 15px 7px;
    margin-top: 10%;
    float: right;
    color: var(--white);
    font-size: 4vw;
    font-family: clearlight;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.5);
}
